<section id="about" class="about">
    <div class="container">
         <p class="about-subtitle">tradition and love</p>
         <h2 class="about-title">how it’s made?</h2>
        <div class="about-wrap">
             <div class="thumb">
              <picture class="about-picture">
                  <source srcset="./images/mobile/main/cow@1x.png 1x, ./images/mobile/main/cow@2x.png 2x" 
                  media="(max-width:480px)">
                  <source srcset=" ./images/tablet/cow@1x.png 1x, ./images/tablet/cow@2x.png 2x"
                  media="(max-width:768px)">
                  <source srcset="./images/desktop/main/cow@1x.png 1x, ./images/desktop/main/cow@2x.png 2x"
                  media="(max-width:1200px)">
                  <img class="about-picture" src="./images/desktop/main/cow@2x.png" alt="Cow eating grass" width="280">
              </picture>
             </div>
          
              <div class="about-tablet-wrap">
                  <p class="about-text1">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
                  <p class="about-text2">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </p>
                  <p class="about-text3">This is enough to choose ice cream and coffee for any mood!</p>
                  <button type="button" class="about-btn js-open-modal" data-modal-about-open
          aria-label="read more button">Read more
                      <svg class="about-icon" width="12" height="12">
                          <use href="./images/sprite.svg#button-arrow"></use>
                        </svg>
                  </button>
              </div>
        </div>
         
    </div>
    </section>
