<section class="advantages-section">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
        <li class="advantages-item">
            <div class="advantages-wraper">
                <span class="advantages-quantity">721</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li class="advantages-item">
            <div class="advantages-wraper  second-icon">
                <span class="advantages-quantity">16kg</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li class="advantages-item">
            <div class="advantages-wraper  third-icon">
                <span class="advantages-quantity">84</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
    </ul>

</section>