<section id="contacts" class="contacts">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Representative offices of the company</h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <p class="contacts-category">CAFE</p>
        <div class="contacts-card">
          <ul class="location-list list">
            <li class="location-city">Chicago</li>
            <li class="location-address">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </li>
          </ul>
          <ul class="work-list list">
            <li class="work-item">
              <p class="work-days">Monday - Friday</p>
              <p class="work-time">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="10:00">10:00 PM</time>
              </p>
            </li>
            <li class="work-item">
              <p class="work-days">Saturday - Sunday</p>
              <p class="work-time">
                <time datetime="08:00">08:00 AM</time> -
                <time datetime="16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
          <ul class="contact-list list">
            <li class="contact-item">
              <a
                class="contact-link contact-tel link"
                href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-item">
              <a class="contact-link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-item">
        <p class="contacts-category foodtruck">FOOD TRUCK</p>
        <div class="contacts-card">
          <ul class="location-list list">
            <li class="location-city">Los Angeles</li>
            <li class="location-address">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </li>
          </ul>
          <ul class="work-list list">
            <li class="work-item">
              <p class="work-days">Monday - Friday</p>
              <p class="work-time">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="10:00">10:00 PM</time>
              </p>
            </li>
            <li class="work-item">
              <p class="work-days">Saturday - Sunday</p>
              <p class="work-time">
                <time datetime="08:00">08:00 AM</time> -
                <time datetime="16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
          <ul class="contact-list list">
            <li class="contact-item">
              <a
                class="contact-link contact-tel link"
                href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-item">
              <a class="contact-link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-item">
        <p class="contacts-category">CAFE</p>
        <div class="contacts-card">
          <ul class="location-list list">
            <li class="location-city">New York</li>
            <li class="location-address">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </li>
          </ul>
          <ul class="work-list list">
            <li class="work-item">
              <p class="work-days">Monday - Friday</p>
              <p class="work-time">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="10:00">10:00 PM</time>
              </p>
            </li>
            <li class="work-item">
              <p class="work-days">Saturday - Sunday</p>
              <p class="work-time">
                <time datetime="08:00">08:00 AM</time> -
                <time datetime="16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
          <ul class="contact-list list">
            <li class="contact-item">
              <a
                class="contact-link contact-tel link"
                href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-item">
              <a class="contact-link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="btn-list list">
      <li class="btn-item">
        <button class="contacts-btn location-btn" type="button" data-modal-location-open>
          Our Locations
          <svg class="btn-icon" width="12" height="12">
            <use href="./images/sprite.svg#button-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="btn-item">
        <button class="contacts-btn franchise-btn" type="button" data-modal-franchise-open>
          Franchise
          <svg class="btn-icon" width="12" height="12">
            <use href="./images/sprite.svg#button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
