<footer class="footer">
  <div class="footer__top">
    <div class="footer__title-wrap">
      <p class="footer__uptitle">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <ul class="footer__social-list">
      <li class="footer__list-item">
        <a href="" class="footer__link">
          <svg class="footer__icon" width="34" height="34">
            <use href="./images/sprite.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="footer__list-item">
        <a href="" class="footer__link">
          <svg class="footer__icon" width="34" height="34">
            <use href="./images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__list-item">
        <a href="" class="footer__link">
          <svg class="footer__icon" width="34" height="34">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__phone-number">
      Feel free to contact
      <a
        href="tel:+610383766284"
        class="footer__phone-link"
        rel="noreferrer noopener"
      >
        +61 (0) 383 766 284
      </a>
    </p>
  </div>
  <div class="footer__bottom">
    <p class="footer__text">&#169; 2022 - IceCream.</p>
    <p class="footer__text">All Rights Reserved.</p>
  </div>
</footer>
