<section class="gallery">
  <div class="container">
    <div class="gallery-wrapper">
      <h2 class="visually-hidden">Галерея</h2>
      <div class="gallery__slider slider">
        <!-- single-item -->
        <div class="gallery__slide">
          <img class="gallery__img" srcset="
                                  ./images/gallery/cones-and-berries-mob-1x.jpg 280w,
                                  ./images/gallery/cones-and-berries-mob-2x.jpg 560w,
                                  ./images/gallery/cones-and-berries-mob-3x.jpg 840w,
                                  ./images/gallery/cones-and-berries-tab-1x.jpg 704w,
                                  ./images/gallery/cones-and-berries-tab-2x.jpg 1408w,
                                  ./images/gallery/cones-and-berries-tab-3x.jpg 2112w,
                                  ./images/gallery/cones-and-berries-1x.jpg 1013w,
                                  ./images/gallery/cones-and-berries-2x.jpg 2026w,
                                  ./images/gallery/cones-and-berries-3x.jpg 3039w
                              " sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px,
                  (min-width: 480px) 440px, calc(100vw - 40px)" src="./images/gallery/cones-and-berries-1x.jpg"
            alt="Ice-cream and blueberry">
        </div>

        <div class="gallery__slide">
          <img class="gallery__img" srcset="
                                    ./images/gallery/cones-512w.jpg 512w,
                                    ./images/gallery/cones-760.jpg 760w,
                                    ./images/gallery/cones-1023-1x.jpg 1013w,
                                    ./images/gallery/cones-1520.jpg 1520w,
                                    ./images/gallery/cones-1023-2x.jpg 2026w,
                                    ./images/gallery/cones-1023-3x.jpg 3039w
                                    " sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px,
                                    (min-width: 480px) 440px, calc(100vw - 40px)" src="./images/gallery/cones-1023-1x.jpg"
            alt="Ice cones">
        </div>

        <div class="gallery__slide">
          <img class="gallery__img" srcset="
                                    ./images/gallery/icepop-512.jpg 512w,
                                    ./images/gallery/icepop-760.jpg 760w,
                                    ./images/gallery/icepop-1023-1x.jpg 1013w,
                                    ./images/gallery/icepop-1520.jpg 1520w,
                                    ./images/gallery/icepop-1023-2x.jpg 2026w,
                                    ./images/gallery/icepop-1023-3x.jpg 3039w
                                      " sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px,
                                              (min-width: 480px) 440px, calc(100vw - 40px)"
            src="./images/gallery/icepop-1023-1x.jpg" alt="Ice pops">
        </div>
      </div>


      <div class="reviews__list single-item">
        <!-- single-item -->
        <div class="reviews__item">
          <div class="reviews__img customer1"></div>
          <div class="reviews__feedback">
            <div class="reviews__text">I love visiting your cafe.
              You prepare the most delicious ice cream in Los Angeles!
              In addition, you have beautiful serving, cozy atmosphere and polite staff.</div>
          </div>
          <div class="reviews__name">Emily, Los Angeles</div>
        </div>

        <div class="reviews__item">
          <div class="reviews__img customer2"></div>
          <div class="reviews__feedback">
            <div class="reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And
              I really like the excellent service - always
              served politely and quickly!</div>
          </div>
          <div class="reviews__name">Diana, Chicago</div>
        </div>

        <div class="reviews__item">
          <div class="reviews__img customer3"></div>
          <div class="reviews__feedback">
            <div class="reviews__text">Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!</div>
          </div>
          <div class="reviews__name">Bryan, New-York</div>
        </div>
        <div class="reviews__item">
          <div class="reviews__img customer4"></div>
          <div class="reviews__feedback">
            <div class="reviews__text">Our kids had the best birthday party on
              the planet in your cafe!
              We will come next year too!</div>
          </div>
          <div class="reviews__name">Kevin, Chicago</div>
        </div>
        <div class="reviews__item">
          <div class="reviews__img customer5"></div>
          <div class="reviews__feedback">
            <div class="reviews__text">Thank you for your kind assistance
              and patience! With your franchise it feels like being a member
              of big family along a road to success in business! </div>
          </div>
          <div class="reviews__name">Daniela, New-York</div>
        </div>
      </div>

    </div>
  </div>
</section>
