<header class="header">
    <div class="container header__container">
        <a href="/" class="header__logo">
            <picture>
                <source srcset="./images/logo_png/logo@1x.png 1x, ./images/logo_png/logo@2x.png 2x, ./images/logo_png/logo@3x.png 3x" media="(min-width: 1200px)">
                <source srcset="./images/logo_png/logo-tab@1x.png 1x, ./images/logo_png/logo-tab@2x.png 2x, ./images/logo_png/logo-tab@3x.png 3x" media="(min-width: 768px)">
                <source srcset="./images/logo_png/logo-mob@1x.png 1x, ./images/logo_png/logo-mob@2x.png 2x, ./images/logo_png/logo-mob@3x.png 3x" media="(max-width: 767px)">
                <img src="./images/logo_png/logo@1x.png" alt="Ice cream logo" width="60">
            </picture>
        </a>
        <nav class="header__navigation">
            <ul class="menu list">
                <li class="menu__item">
                    <a href="#home" class="menu__link link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="#about" class="menu__link link">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a href="#products" class="menu__link link">Our products</a>
                </li>
                <li class="menu__item">
                    <a href="#contacts" class="menu__link link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="header__btn button">Buy now
            <svg class="header-btn__icon" width="6" height="10">
                <use href="./images/sprite.svg#button-arrow"></use>
            </svg>
        </button>
    </div>
</header>