<header class="header">
    <div class="container header__container">
        <a href="/" class="header__logo">
            <picture class="header-logo__image">
                <source srcset="./images/logo_png/logo@1x.png 1x, ./images/logo_png/logo@2x.png 2x, ./images/logo_png/logo@3x.png 3x" media="(min-width: 1200px)">
                <source srcset="./images/logo_png/logo-tab@1x.png 1x, ./images/logo_png/logo-tab@2x.png 2x, ./images/logo_png/logo-tab@3x.png 3x" media="(min-width: 768px)">
                <source srcset="./images/logo_png/logo-mob@1x.png 1x, ./images/logo_png/logo-mob@2x.png 2x, ./images/logo_png/logo-mob@3x.png 3x" media="(max-width: 767px)">
                <img src="./images/logo_png/logo@1x.png" alt="Ice c ream logo">
            </picture>
        </a>
        <nav class="header__navigation">
            <ul class="menu list">
                <li class="menu__item">
                    <a href="#home" class="menu__link link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="#about" class="menu__link link">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a href="#products" class="menu__link link">Our products</a>
                </li>
                <li class="menu__item">
                    <a href="#contacts" class="menu__link link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-btn__wrap">
            <button type="button" class="header__btn">Buy now
                <svg class="header-btn__icon" width="6" height="10">
                    <use href="./images/sprite.svg#button-arrow"></use>
                </svg>
            </button>
            <button type="button" class="menu-open" data-menu-open>
                <svg class="menu-open-icon" width="32" height="32">
                    <use href="./images/sprite.svg#burger"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
<!--  -->