<section class="hero">
      <div class="hero-wrapper"> 
        <div>
        <h1 class="hero-title slidein">
        ice cream made with passion
    </h1>
   <ul class="hero-list">
        <li class="hero-item">
            <a  href="#gggg" class="hero-btn">Products</a></li>
        <li class="hero-item">
             <a href="gggg" class="hero-link fab">How it’s made?
             </a></li>
    </ul>
       </div>
        <ul class="hero-right-list ">
            <li class="hero-right__item">
                <p class="hero-number">16</p>
                <span class="number-subtitle">cafes</span>
            </li>
            <li class="hero-right__item">
                <p class="hero-number">23</p>
                <span class="number-subtitle">food trucks</span>
            </li>
        </ul>
    </div>  
    <div class="hero__subtitle_wrapper">
        <p class="hero-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <button class="subtitle__btn"> </button>  
        </div>

      </ul>
    </div>
    <div class="snowflakes" aria-hidden="true">
      <div class="snowflake">❅</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❄</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❄</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❄</div>
    </div>
  </div>
    
</section>