<section class="hero">
      <div class="container">
        <div class="hero-wrapper"> 
        <div>
        <h1 class="hero-title slidein">
        ice cream made with passion
    </h1>
   <ul class="hero-list">
        <li class="hero-item">
            <a  href="#products" class="hero-btn">Products</a></li>
        <li class="hero-item">
             <a href="#about" class="hero-link fab">How it’s made?
             </a></li>
    </ul>
       </div>
        <ul class="hero-right-list ">
            <li class="hero-right__item">
                <p class="hero-number">16</p>
                <span class="number-subtitle">cafes</span>
            </li>
            <li class="hero-right__item">
                <p class="hero-number">23</p>
                <span class="number-subtitle">food trucks</span>
            </li>
        </ul>
    </div>  
    <div class="hero__subtitle_wrapper">
        <p class="hero-subtitle">We have a huge selection of 100% natural ice cream to everyone's taste . Just make your choice.</p>
      <button class="subtitle__btn"> </button>  
        </div>

      </div>
      
      <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
      </div>
    
</section>