<div class="modal-location__backdrop js-overlay-modal" data-modal-location>
    <div class="modal-location modal--anim">
    <button type="button" class="modal-location__modal-close" data-modal-location-close>
        <svg class="modal-location__icon-modal" width="" height="">
        <use href="./images/sprite.svg#close_black"></use>
        </svg>
    </button>
    <h2 class="modal-location__title">Our Locations</h2>
    <iframe
        class="modal-location__map"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d389.04239884961305!2d-73.99801073557218!3d40.72380678233554!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1671815493308!5m2!1sru!2sua"
        width="224"
        height="199"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <a
        class="modal-location__link link"
        href="https://goo.gl/maps/YVUSbJ9DE9yigbeU9"
    >
        Open map
    </a>
    </div>
</div>
