<div class="backdrop js-overlay-modal" data-modal-about>
  <div class="modal-production modal--anim">
    <button type="button" class="modal-production__modal-close" data-modal-about-close>
      <svg class="modal-production__icon-modal" width="" height="">
        <use href="./images/sprite.svg#close_black"></use>
      </svg>
    </button>
    <h2 class="modal-production__title">How it’s made?</h2>
    <iframe
      class="modal-production__video"
      width="224"
      src="https://www.youtube.com/embed/bdRhtMO1yd0"
      title="Ice Cream Production"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <p class="modal-production__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
