<div class="modal-franchise__backdrop js-overlay-modal" data-modal-franchise>
  <div class="modal-franchise__modal modal--anim">
    <button type="button" class="modal-franchise__modal-close" data-modal-franchise-close>
      <svg class="modal-franchise__icon-modal" width="" height="">
        <use href="./images/sprite.svg#close_black"></use>
      </svg>
    </button>
    <h2 class="modal-franchise__title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="modal-franchise__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="callback" name="callback" autocomplete="on">
      <label for="username" class="form-label">
        <input
          class="input-field"
          type="text"
          name="username"
          id="username"
          placeholder="Name"
        />
      </label>
      <label for="tel" class="form-label">
        <input
          class="input-field"
          type="tel"
          name="tel"
          id="tel"
          placeholder="Phone"
        />
      </label>
      <label for="email" class="form-label">
        <input
          class="input-field"
          type="email"
          name="email"
          id="email"
          placeholder="Email"
        />
      </label>
      <label for="feedback" class="form-label">
        <textarea
          class="textarea-field"
          name="feedback"
          placeholder="Comment"
          id="feedback"
        ></textarea>
      </label>
    </form>
    <button class="submit-btn" type="submit">Submit</button>
  </div>
</div>
