<section class="products-section" id="products">
    <div class="container">
  <p class="products-text">100% natural</p>
  <h2 class="products-title">products</h2>
  <ul class="products-list list">
    <li class="products-item products-item-icecream">
        <div class="products-wrap">
      <h3 class="products-item-title">ice cream</h3>
      <p class="products-item-text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer 
      </p>
      <button class="products-item-btn" data-modal-ingrid-open>
      </button>
      </div>
    </li>
    <li class="products-item products-item-icecoffee">
        <div class="products-wrap">
      <h3 class="products-item-title">ice coffee</h3>
      <p class="products-item-text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button class="products-item-btn" data-modal-ingrid-open-1>
      </button>
      </div>
    </li>
    <li class="products-item products-item-milkshakes">
        <div class="products-wrap">
      <h3 class="products-item-title">milkshakes</h3>
      <p class="products-item-text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button class="products-item-btn" data-modal-ingrid-open-2>
      </button>
      </div>
    </li>
  </ul>
  </div>
</section>