.contacts {
    height: 1095px;
    padding-bottom: 60px;

    @media screen and(min-width:768px) {
        height: 360px;
        padding-bottom: 40px;
    }

    @media screen and(min-width:1200px) {
        height: 636px;
        padding-bottom: 120px;
    }
}

.contacts-container {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    transform: translateY(-353px);

    @media screen and(min-width:768px) {
        transform: translateY(-299px);
    }

    @media screen and(min-width:1200px) {
        transform: translateY(-128px);
    }
}

.contacts-list {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;

    @media screen and(min-width:768px) {
        font-size: 14px;
        margin-bottom: 40px;
    }

    @media screen and(min-width:1200px) {
        gap: 32px;
        font-size: 16px;
        margin-bottom: 60px;
    }
}

.contacts-item {
    width: 100%;
    height: 412px;
    padding: 40px 32px 24px;
    background-color: getColor('modalback-and-textcolor-white');
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and(min-width:768px) {
        width: calc((100% - 32px) / 3);
        height: 537px;
        padding: 40px 24px;
    }

    @media screen and(min-width:1200px) {
        width: calc((100% - 64px) / 3);
        height: 542px;
        padding: 40px;
    }
}

.contacts-category {
    display: inline-flex;
    align-items: center;
    text-align: center;
    height: 22px;
    padding: 4px 22px;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    background-color: getColor('main-yellow');
    border-radius: 4px;

    @media screen and(min-width:768px) {
        height: 30px;
        font-size: 16px;
        line-height: 1.4;
        padding: 4px 13px;
        margin-bottom: 32px;
    }

    @media screen and(min-width:1200px) {
        padding: 4px 14px;
    }
}

.foodtruck {
    word-spacing: -4px;

    @media screen and(min-width:768px) and (max-width:1199px) {
        padding: 4px 10px;
        word-spacing: normal;
    }

    @media screen and(min-width:1200px) {
        padding: 4px 14px;
        word-spacing: normal;
    }
}

.contacts-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and(min-width:768px) {
        gap: 32px;
    }
}

.location-city {
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.location-address {
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: getColor('product-text-babyshit');

    &:hover {
        text-decoration-line: underline;
        text-underline-offset: 3px;
    }
}

.work-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.86;
    padding: 24px 0;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;

    @media screen and(min-width:768px) {
        padding: 32px 0;
    }
}

.work-days {
    @media screen and(min-width:1200px) {
        letter-spacing: 0.04em;
    }
}

.work-time {
    color: getColor('text-grey');
}

.contact-link {
    line-height: 1.6;
    color: getColor('main-text-black');
    background-color: getColor('modalback-and-textcolor-white');
    transition: color $main-transition-time $cubic-bezier;

    &:hover,
    &:focus {
        color: getColor('main-yellow');
    }

    &:disabled {
        background-color: getColor('text-grey');
    }

    @media screen and(min-width:768px) {
        line-height: 1.5;
    }
}

.contact-tel {
    margin-bottom: 6px;

    @media screen and(min-width:768px) {
        margin-bottom: 4px;
    }
}

.btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and(min-width:768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.contacts-btn {
    cursor: url('/src/images/icon_svg/vector.svg'), auto;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 196px;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    background-color: getColor('main-yellow');
    border-radius: 10px;
    color: getColor('main-text-black');
    transition-property: color, fill, border-color, background-color;
    transition-duration: $main-transition-time;
    transition-timing-function: $cubic-bezier;
}

.location-btn {
    background-color: getColor('main-yellow');
    border: none;
    padding: 12px 39px 12px 40px;

    &:hover {
        color: #000000;
        background-color: getColor('bright-green-btn');
    }

    &:focus {
        color: #FFFFFF;
        background-color: getColor('bright-green-btn');
    }

    &:disabled {
        background-color: getColor('text-grey');
    }
}

.franchise-btn {
    color: #000000;
    border: 2px solid #F8D24E;
    background-color: transparent;
    padding: 12px 54px 12px 55px;

    &:hover {
        border-color: getColor('bright-green-btn');
    }

    &:focus {
        color: #FFFFFF;
        border-color: getColor('bright-green-btn');
    }

    &:disabled {
        border-color: getColor('text-grey');
    }
}

.btn-icon {
    fill: #000000;

    .contacts-btn:focus & {
        fill: currentColor
    }
}