.hero {
    max-width: 100%;
        height: 509px;
        margin: 0 auto;
        background-color: #84A178;
        font-family: 'Montserrat', sans-serif;
        background-repeat: no-repeat;
        // background-position:left calc(50% + 40px) top 150px, bottom;
    
        // padding-left: 20px;
        // padding-right: 53px;
        padding-top: 99px;
        background-size: 300px, 410px;
        background-position: left calc(35% + 50px) top 215px, bottom;
        background-position-y: calc(40% - 15px);
        // background-position-y:top 215, bottom;
        // background-position-x: center;
         background-position: center top 225px, bottom;
        background-image:
        url(../images/mobile/main/icecreamhero-mobile@1x.webp),
            url(../images/mobile/main/pointshero-mobile@2x.webp);
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/mobile/main/icecreamhero-mobile@2x.webp),
                url(../images/mobile/main/pointshero-mobile@2x.webp);
        }
    
        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/mobile/main/icecreamhero-mobile@3x.webp),
                url(../images/mobile/main/pointshero-mobile@3x.webp);
        }

    // @media screen and (min-width:380px) {
    //     background-size: 250px;
    //     background-position: right 50px top 140px bottom;

    //     background-image: url(../images/tablet/icecreamhero-tablet@1x.webp);

    //     @media (min-device-pixel-ratio: 2),
    //     (-webkit-min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: url(../images/tablet/icecreamhero-tablet@2x.webp);
    //     }
    // }

    // @media screen and (min-width:480px) {
    //     background-size: 340px;
    //     background-position: right 50px top 170px, bottom;
    //     background-image: url(../images/mobile/main/pointshero-mobile@1x.webp), url(../images/mobile/main/icecreamhero-mobile@1x.webp);
       
        

    //     @media (min-device-pixel-ratio: 2),
    //     (-webkit-min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: url(../images/tablet/icecreamhero-tablet@2x.webp);
    //     }

    //     @media (min-device-pixel-ratio: 3),
    //     (-webkit-min-device-pixel-ratio: 3),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: url(../images/tablet/icecreamhero-tablet@3x.webp);
    //     }
    // }

    @media screen and (min-width:768px) {
        max-width: 768px;
        height: 415px;
        // padding: 80px 32px 0 32px;
        padding-top: 80px;
        background-size: 385px, 152px, 768px;
        background-position: right 35px top 15px, bottom 12px left 32px, bottom;
        background-image: url(../images/tablet/icecreamhero-tablet@1x.webp),
            url(../images/tablet/galleryhero-tablet@1x.webp),
            url(../images/tablet/pointshero-tablet@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tablet/icecreamhero-tablet@2x.webp),
                url(../images/tablet/galleryhero-tablet@2x.webp),
                url(../images/tablet/pointshero-tablet@2x.webp);
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tablet/icecreamhero-tablet@3x.webp),
                url(../images/tablet/galleryhero-tablet@3x.webp),
                url(../images/tablet/pointshero-tablet@3x.webp);
        }
    }

    @media screen and (min-width:1200px) {
        // padding: 118px 16px 0 16px;
        padding-top: 118px;
        max-width: 1200px;
        height: 664px;
        background-size: 610px, 225px, 1200px;
        background-position: right 25px top 33px, bottom 65px left 16px, bottom;

        background-image: url(../images/desktop/main/icecreamhero-desktop@1x.webp),
            url(../images/desktop/main/galleryhero-desktop@1x.webp),
            url(../images/desktop/main/pointshero-desktop@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desktop/main/icecreamhero-desktop@2x.webp),
                url(../images/desktop/main/galleryhero-desktop@2x.webp),
                url(../images/desktop/main/pointshero-desktop@2x.webp);
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desktop/main/icecreamhero-desktop@3x.webp),
                url(../images/desktop/main/galleryhero-desktop@3x.webp),
                url(../images/desktop/main/pointshero-desktop@3x.webp);
        }
    }
}

.hero-wrapper {

    display: flex;
    justify-content: space-between;

    @media screen and (min-width:768px) {
       
    }

    @media screen and (min-width:1200px) {
       
    }
}

.hero-title {
    text-transform: uppercase;
    font-family: 'Seymour One';
    letter-spacing: 0.04em;
    color: #FCFCFC;
    max-width: 247px;
    font-size: 26px;
    line-height: calc(32.6 / 26);
    margin-bottom: 32px;

    @media screen and (min-width:768px) {
        margin-bottom: 24px;
    }

    @media screen and (min-width:1200px) {
        max-width: 367px;
        font-size: 38px;
        line-height: calc(47.7 / 38);
        margin-bottom: 28px;
    }
}

.hero-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (min-width:768px) {
        margin-bottom: 46px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 132px;
        gap: 34px;
    }
}

.hero-btn {
    outline: none;
    transition: 250ms border, transform cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid #F8D24E;
    background-color: transparent;
    color: #131313;
    padding: 11px 26px;
    width: 108px;
    height: 38px;
    font-size: 12px;
    font-weight: 600;
    line-height: calc(14.6 / 12);
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    text-decoration: none;

    @media screen and (min-width:1200px) {
        padding: 12px 34px;
        width: 134px;
        height: 42px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(18 / 14);
        border-radius: 10px;
    }

    &:hover {
        border: 2px solid #0A8817;
    }

    &:focus {
        border: 2px solid #0A8817;
        color: #FCFCFC;
    }
}

.hero-link {
    transition-property: color, transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    font-size: 12px;
    font-weight: 600;
    line-height: calc(14.6 / 12);
    font-family: 'Montserrat', sans-serif;
    color: #F8D24E;
    border: none;
    background-color: transparent;
    position: relative;
    text-decoration: underline;

    @media screen and (min-width:1200px) {
        font-size: 14px;
        font-weight: 600;
        line-height: calc(17 / 14);
        color: #F8D24E;
    }

    &:hover {
        color: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
    }
}

.hero-right-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (min-width:1200px) {
        gap: 16px;
    }
}

.hero-right__item {
    @media screen and (min-width:1200px) {
        height: 77px;
        width: 100%;
    }
}

.hero-number {
    font-family: 'Montserrat', sans-serif;
    ;
    color: #131313;
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    line-height: calc(34 / 28);
    margin-bottom: 4px;

    @media screen and (min-width:1200px) {
        font-size: 46px;
        font-weight: 900;
        line-height: calc(56 / 46);
        margin-bottom: 4px;
    }
}

.number-subtitle {
    @media screen and (min-width:768px) {
        font-size: 8px;
        font-weight: 400;
        line-height: calc(9.7 / 8);
        font-family: 'Montserrat', sans-serif;
        ;
        color: #FCFCFC;
        display: block;
        text-align: right;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: calc(17 / 14);
    }
}

.hero-subtitle {
    display: none;

    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: calc(16.8 / 12);
        color: #FCFCFC;
        max-width: 139px;
        display: block;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: calc(19.6 / 14);
        max-width: 200px;
    }
}

.hero__subtitle_wrapper {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 180px;
    }

    @media screen and (min-width:1200px) {
        gap: 24px;
        margin-left: 241px;
    }
}

// .hero-svg {
//     fill: #FCFCFC;
//     display: block;
// }
.subtitle__btn {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    transition-property: height,width,background-image;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    // transition: 250ms width, height linear;
    border: none;
    outline: none;
    padding: 0;
   
    width: 38px;
    height: 14px;
    
    background-image: url(../images/icon_svg/arrow_white_default.svg);

    &:hover {
        width: 45px;
        height: 14px;
        background-image: url(../images/icon_svg/arrow_white_hover.svg);
    }

    &:focus {
        background-image: url(../images/icon_svg/arrow_white_focus.svg);
        width: 48px;
        height: 14px;
    }
}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

