.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../images/mobile/main/background2@1x.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: top;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/main/background2@2x.jpg');
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/mobile/main/background2@3x.jpg');
  }
  @media screen and (min-width: 480px) {
    background-image: url('../images/tablet/background2@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/background2@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/tablet/background2@3x.jpg');
    }
  }
  @media screen and(min-width:768px) {
    background-image: url('../images/desktop/backgrounds/background2@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/backgrounds/background2@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/desktop/backgrounds/background2@3x.jpg');
    }
  }
}
.products-text {
  margin-bottom: 12px;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('main-text-black');
  @media screen and(min-width:768px) {
    font-size: 22px;
    line-height: 1.23;
  }
  @media screen and(min-width:1200px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products-title {
  margin-bottom: 148px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: 'Seymour One';
  color: getColor('main-text-black');
  @media screen and(min-width:768px) {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 200px;
  }
  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 168px;
  @media screen and(min-width:768px) {
    gap: 16px;
  }
  @media screen and(min-width:1200px) {
    gap: 29px;
  }
}
.products-item-title {
  font-family: 'Montserrat';
  font-style: normal;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('main-text-black');
  @media screen and(min-width:768px) {
    font-size: 22px;
    line-height: 1.23;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 66px;
    font-size: 30px;
    line-height: 1.23;
  }
}
.products-item-text {
  margin: 0 auto;
  font-family: 'Montserrat';
  max-width: 200px;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  letter-spacing: 0.04em;
  color: getColor('main-text-black');
  @media screen and(min-width:768px) {
    max-width: 172px;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: 1.75;
    max-width: 242px;
  }
}
.products-item-btn {
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: height, width, background-image;
  transition-duration: $main-transition-time;
  transition-timing-function: $cubic-bezier;
  border: none;
  display: block;
  margin: 0 auto;
  width: 38px;
  height: 14px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/icon_svg/arrow_black_default.svg);

  &:hover {
    width: 45px;
    height: 14px;
    background-image: url(../images/icon_svg/arrow_black_hover.svg);
  }

  &:focus {
    background-image: url(../images/icon_svg/arrow_black_focus.svg);
    width: 48px;
    height: 20px;
  }
  @media screen and(min-width:768px) {
    bottom: 12px;
  }
  @media screen and(min-width:1200px) {
    bottom: 60px;
  }
}
.products-item {
  transition: transform $main-transition-time $cubic-bezier;
  transform: scale(1);
  max-width: 100%;
  min-height: 420px;
  position: relative;
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 32px) / 3);
    min-height: 428px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 58px) / 3);
    min-height: 536px;
  }
  &:hover {
    transform: scale(1.1);
  }
}
.products-wrap {
  height: 100%;
  padding-top: 123px;
  padding-bottom: 85px;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and(min-width:768px) {
    padding-top: 108px;
    padding-bottom: 78px;
    padding-left: 26px;
    padding-right: 26px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 165px;
    padding-bottom: 126px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.products-item-icecream {
  background: getColor('product-ingredients-green');
  border-radius: 24px;
  &::before {
    content: '';
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
    border-radius: 101px;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and(min-width:768px) {
      bottom: 78%;
      border-radius: 98px;
    }
    @media screen and(min-width:1200px) {
      width: 302px;
      height: 302px;
      border-radius: 150px;
      bottom: 74%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 78%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background-image: url('../images/mobile/main/products-1_s-@1x.png');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/main/products-1_s-@2x.png');
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/mobile/main/products-1_s-@3x.png');
    }
    border-radius: 101px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and(min-width:480px) {
      background-image: url('../images/tablet/products-1_m-@1x.png');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/tablet/products-1_m-@2x.png');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/tablet/products-1_m-@3x.png');
      }
    }
    @media screen and(min-width:768px) {
      bottom: 81%;
      border-radius: 98px;
      background-image: url('../images/desktop/main/products-1l-@1x.png');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/desktop/main/products-1l-@2x.png');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/desktop/main/products-1l-@3x.png');
      }
    }
    @media screen and(min-width:1200px) {
      width: 302px;
      height: 302px;
      border-radius: 150px;
      bottom: 78%;
    }
  }
}
.products-item-icecoffee {
  background: getColor('product-background-yellow');
  border-radius: 24px;
  &::before {
    content: '';
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
    border-radius: 101px;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and(min-width:768px) {
      bottom: 78%;
      border-radius: 98px;
    }
    @media screen and(min-width:1200px) {
      width: 302px;
      height: 302px;
      border-radius: 150px;
      bottom: 74%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 78%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background-image: url('../images/mobile/main/products-2_s-@1x.png');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/main/products-2_s-@2x.png');
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/mobile/main/products-2_s-@3x.png');
    }
    border-radius: 101px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and(min-width:480px) {
      background-image: url('../images/tablet/products-2_m-@1x.png');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/tablet/products-2_m-@2x.png');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/tablet/products-2_m-@3x.png');
      }
    }
    @media screen and(min-width:768px) {
      bottom: 81%;
      border-radius: 98px;
      background-image: url('../images/desktop/main/products-2l-@1x.png');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/desktop/main/products-2l-@2x.png');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/desktop/main/products-2l-@3x.png');
      }
    }
    @media screen and(min-width:1200px) {
      width: 302px;
      height: 302px;
      border-radius: 150px;
      bottom: 78%;
    }
  }
}
.products-item-milkshakes {
  background: getColor('product-text-babyshit');
  border-radius: 24px;
  &::before {
    content: '';
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 101px;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and(min-width:768px) {
      border-radius: 98px;
      bottom: 78%;
    }
    @media screen and(min-width:1200px) {
      width: 302px;
      height: 302px;
      border-radius: 150px;
      bottom: 74%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 78%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background-image: url('../images/mobile/main/products-3_s-@1x.png');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/main/products-3_s-@2x.png');
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/mobile/main/products-3_s-@3x.png');
    }
    border-radius: 101px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and(min-width:480px) {
      background-image: url('../images/tablet/products-3_m-@1x.png');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/tablet/products-3_m-@2x.png');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/tablet/products-3_m-@3x.png');
      }
    }
    @media screen and(min-width:768px) {
      bottom: 81%;
      border-radius: 98px;
      background-image: url('../images/desktop/main/products-3l-@1x.png');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/desktop/main/products-3l-@2x.png');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/desktop/main/products-3l-@3x.png');
      }
    }
    @media screen and(min-width:1200px) {
      width: 302px;
      height: 302px;
      border-radius: 150px;
      bottom: 78%;
    }
  }
}
